body{
  /*background-image: url('assets/cubes.jpg');*/
  color: #594b03;
}
.message{
	color: blue;
}

.contenedor{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.comment, form  {
  background: rgba(201,235,240,1);
  background: -moz-linear-gradient(left, rgba(201,235,240,1) 0%, rgba(170,238,240,1) 23%, rgba(154,227,221,1) 52%, rgba(170,238,240,1) 76%, rgba(201,235,240,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(201,235,240,1)), color-stop(23%, rgba(170,238,240,1)), color-stop(52%, rgba(154,227,221,1)), color-stop(76%, rgba(170,238,240,1)), color-stop(100%, rgba(201,235,240,1)));
  background: -webkit-linear-gradient(left, rgba(201,235,240,1) 0%, rgba(170,238,240,1) 23%, rgba(154,227,221,1) 52%, rgba(170,238,240,1) 76%, rgba(201,235,240,1) 100%);
  background: -o-linear-gradient(left, rgba(201,235,240,1) 0%, rgba(170,238,240,1) 23%, rgba(154,227,221,1) 52%, rgba(170,238,240,1) 76%, rgba(201,235,240,1) 100%);
  background: -ms-linear-gradient(left, rgba(201,235,240,1) 0%, rgba(170,238,240,1) 23%, rgba(154,227,221,1) 52%, rgba(170,238,240,1) 76%, rgba(201,235,240,1) 100%);
  background: linear-gradient(to right, rgba(201,235,240,1) 0%, rgba(170,238,240,1) 23%, rgba(154,227,221,1) 52%, rgba(170,238,240,1) 76%, rgba(201,235,240,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9ebf0', endColorstr='#c9ebf0', GradientType=1 );

  margin: 5px auto;
  padding: 8px;
  border-radius: 20px;
  width: 40vw;
  border: 1px solid gray;
}

h3{
  padding: 3px;
  margin:5px;
}

form{
  margin-top: 30px;
  margin-bottom: 30px;  
  align-items: column;
  padding: auto;
}

input, textarea, label{
  margin: 5px auto;
  padding:8px;
  width: 90%;
  justify-content: center;
  border-radius: 28px;
}

button{
  margin:5px auto;
  padding: 8px;
  border-radius: 12px;
  background: #096f73;
  color:white;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

p{
  text-align: justify;
  overflow: hidden;
  width: 95%;
  height: auto;
  margin-top: 3px;
}

button:hover{
  background: #399a9e;
}

@media only screen and (max-device-width: 500px){
  .comment, form{
    width: 80vw;
  }

  body, button, input, textarea, label, p{
    font-size: 35px;
  }

  button{
    padding: 13px;
  }

  form{
    margin-top: 70px;
  }

}
